<nav id = 'wide-nav' class = 'uk-navbar-container uk-navbar-transparent' uk-navbar>
  <div class = 'uk-navbar-left'>
    <ul class = 'uk-navbar-nav'>
      <li class = 'uk-active'><%= link_to 'Workbench', admin_path %></li>
      <li>
        <a href = '#'>Facilities</a>
        <div class = 'uk-navbar-dropdown'>
          <ul class = 'uk-nav uk-navbar-dropdown-nav'>
            <li class = 'uk-nav-divider'></li>
            <li><%= link_to 'New Facility', new_admin_facility_path %></li>
          </ul>
      </li>
    </ul>
  </div>
  <div class = 'uk-navbar-right'>
    <ul class = 'uk-navbar-nav'>
      <li><%= link_to 'Log Out', admin_logout_path, method: 'delete' %></li>
    </ul>
  </div>
</nav>
