<%= form_with model: @facility, url: admin_facilities_path do |f| %>
  <div class = 'uk-width-1-1'>
    <%= render partial: 'shared/forms/name', locals: { f: f } %>
  </div><br>
  <div class = 'uk-width-1-1'>
    Is this facility public or private?
    <label><%= f.radio_button :private, true, class: 'uk-radio' %> Private</label>
    <label><%= f.radio_button :private, false, class: 'uk-radio' %> Public</label>
  </div>

  <!-- fields_for :address, @facility.address do -->
<% end %>
