// COLOR PALETTE
$black: #222831;
$blue:  #30475E;
$tan:   #C1A57B;
$white: #ECECEC;

// GLOBALS
$global-background: $blue;
$global-color: $white;
$global-emphasis-color: $tan;
$global-font-family: 'Roboto', sans-serif;

// BASE
$base-heading-font-family: 'Jacques Francois', Georgia, serif;

// FORM
$form-background: $white;
$form-focus-background: $white;
$form-color: $black;
$form-focus-color: $black;
