/*
WORKBENCH

Color Palette:
  - PRIMARY:    #222831 (slate black)
  - SECONDARY:  #30475E (muted royal blue)
  - TERTIARY:   #C1A57B (tan)
  - ACCENT:     #ECECEC (off-white)

*/

html, body {
  background-color: #30475E;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin-top: 3rem;
}

h1, h2, h3 {
  color: #C1A57B;
  text-align: center;
  font-size: 5rem;
  font-family: 'Jacques Francois', Georgia, 'Times New Roman', Times, serif;
}

#header {
  border-bottom: 2px solid #C1A57B;
  margin-bottom: 1.5rem;
}

#footer {
  border-top: 2px solid #C1A57B;
  margin-top: 2.5rem;
}

#submitWorkOrderButton {
  display: block;
  margin: 1rem auto;
}

#title {
  float: left;
}

#pageName {
  text-align: right;
  color: #ECECEC;
  font-family: 'Roboto', sans-serif;
}

#side p {
  color: #ECECEC;
  text-align: justify;
}

.address-container {
  background-color: #ECECEC;
  color: #222831;
  box-shadow: 3px 3px 6px #222831;
}

.uk-form-label {
  color: #ECECEC;
}

.hidden {
  display: none;
}

.uk-header {
  text-shadow: 3px 3px 6px #222831;
  font-family: 'Jacques Francois';
}

.uk-header:hover {
  cursor: default;
}

.uk-button {
  background-color: #ECECEC;
  color: #222831;
  box-shadow: 3px 3px 6px #222831;
}

.uk-button:active {
  transform: translateY(1px);
}

.uk-section-default {
  background-color: transparent;
}
